@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="text-center mt-5">
        <h1>Welcome to the Task Manager!</h1>
        <p class="lead mt-3">
            In the book “The 7 Habits of Highly Effective People”, Steven Covey talks about the habit of
            “Putting First Things First”,
        </p>
        <p class="lead mt-3">
        and suggests that Tasks on the To-Do list be broken out into four
        Quadrants as follows:
        </p>
        
        <br>
        <br>
            <h4><strong>Quadrant I:</strong> Important / Urgent</h4><br>
            <h4><strong>Quadrant II:</strong> Important / Not Urgent</h4><br>
            <h4><strong>Quadrant III:</strong> Not Important / Urgent</h4><br>
            <h4><strong>Quadrant IV:</strong> Not Important / Not Urgent</h4><br>
        <p class="mt-4">We have designed a tool so you can:</p>
        <div class="d-flex justify-content-center mt-3">
            <a href="/Home/Task" class="btn btn-primary mx-2">Create a New Task</a>
            <a href="/Home/TaskList" class="btn btn-secondary mx-2">View All Tasks</a>
        </div>
    </div>
</div>
